.App {
  text-align: center;
}
.status{
  font-size: 35px;
  font-weight:100px;
  color: red;
}
.reset{
  font-size:25px;
  border-radius: 5;
  background-color:blue;
  color: white;
  width:100px;
  margin-left:20px;
}
.number{
  font-size: 38px;
  font-weight: 600;
  color: red;
}
.plus{
  font-size:25px;
  border-radius: 5;
  background-color:green;
  color: white;
  width:100px;
}
